<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url App</title>
</head>
<body>
    <h1>Short URL App</h1>
    <form action="/shortUrls" method="post">
        <input type="url" name="fullURL" id="" placeholder="Enter the url">
        <button type="submit">Submit</button>
    </form>
    <br>
    <table>
        <thead>
            <tr>
                <th>Full Url</th>
                <th>Short Url</th>
                <th>Clicks</th>
            </tr>
        </thead>
        <tbody>
            <% shortUrls.forEach(eachData => { %>
                <tr>
                    <td><a href="<%= eachData.full %>"><%= eachData.full %></a></td>
                    <td><a href="<%= eachData.short %>"><%= eachData.short %></a></td>
                    <td><%= eachData.clicks %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>